@import "tailwindcss";

@theme {
  /* Fondo e Iniciales de la App */
  --color-background: #FDFBF7;
  --color-foreground: #22120F;

  /* Mapeo de Colores Semánticos del Negocio (Madera, Oliva, Vino) */
  --color-primary: #3E2723;
  --color-primary-foreground: #FDFBF7;

  --color-secondary: #3B4B20;
  --color-secondary-foreground: #FDFBF7;

  --color-accent: #6B1D2F;
  --color-accent-foreground: #FDFBF7;

  /* Estados del Sistema */
  --color-success: #2E7D32;
  --color-success-foreground: #FFFFFF;
  --color-warning: #EF6C00;
  --color-warning-foreground: #FFFFFF;
  --color-danger: #C62828;
  --color-danger-foreground: #FFFFFF;

  /* Escala Neutra / Bordes */
  --color-muted: #6E6765;
  --color-muted-foreground: #0a192f;
  --color-border: #D7D1C7;
}

/* Estilos Base globales usando el nuevo estándar */
@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}